.borde {
    font-family: Arial, Helvetica, sans-serif;
    


}


#caja1 {
    background-color: #ff0000;
}

#caja2 {

    background-color: #00ffd5;
}

#caja3 {}

#caja4 {}

.cambio-color{

    background-color: #fabadaaa;
    transition: background-color 2s;


}