/* You can add global styles to this file, and also import other style files */
@import "reset-css";
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&display=swap');


$tam-base: 1rem;
$color: #fdad9f;
$color-fondo: #000000;
$color-fondo-resaltado: #002050;
$tipografia: "Comic Neue";