ul{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.1rem;
    width: 40%;
    justify-content: center;
    padding-inline-start: 0;
}

h2{
    background-color: rgb(255, 102, 0);
}

li{
    background-color: rgb(252, 198, 50);
}

li:hover{
    cursor: pointer;
    background-color: crimson;
    color: chartreuse;

}