h1{
    color: whitesmoke;
    background-color: aquamarine;
    padding-left: 12rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    
}