{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "Special Elite", cursive;
    font-weight: 400;
    text-align: center;
  }
  
  section > h2 {
    font-size: 2em;
    margin: 1em;
  }
  
  #libros {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap: 1em;
  }
  
  .libro img {
    border: 3px solid black;
  }
  
  .libro p {
    font-size: 2em;
  }
  