<div class="container">
    <div class="containerAnimal">
      <h3>{{palabra}}</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita facilis
        consectetur ut laudantium pariatur dolor aliquam? Molestias hic deleniti
        ducimus, aspernatur in accusamus facere tempore velit ab cumque! Non,
        labore?
      </p>
      <div class="containerImagen">
        <img src="../../../assets/images/{{palabraTraducida}}.png" />
      </div>
    </div>
  </div>