:host{
    flex-basis: 30%;
}
.cocktail{
    display:flex;
    gap:1rem;
    flex-direction: column;
    background-color:#eeeeee;
    margin:1rem;
    transition: .2s;
}

p.nombre-cocktail{
    text-align:center;
    padding:3px;
    font-size:2rem;

}

div.imagen-cocktail{
    width:50%;
    height:40vh;
    margin:0 auto;
    background-size:100% 100%;
}

.margarita{
    background-image:url("/assets/images/margarita.jpg");
}
.manhattan{
    background-image:url("/assets/images/manhattan.jpg");
}
.cosmopolitan{
    background-image:url("/assets/images/cosmopolitan.jpg");
}
.mojito{
    background-image:url("/assets/images/mojito.jpg");
}
.daikiri{
    background-image:url("/assets/images/daikiri.jpg");
}
.negroni{
    background-image:url("/assets/images/negroni.jpg");
}
        


.botones{
display:flex;
justify-content:center;
padding:1rem;
gap:1rem;
}

.boton{
font-size:1rem;
padding:1rem;
border:none;
border-radius: .5rem;
transition:.5s;
}

.boton-add{ 
background-color:#4e8a39;
color:#d8facf;
&:hover{
    background-color: #abd3a0;
    border-radius: 0rem;
    color:#4e8a39;
}
}

.boton-ver{
background-color:#253992;
color:#a3a9f8;
&:hover{
    background-color: #a3a9f8;
    border-radius: 0rem;
    color:#253992;
}
}

.boton-volver{
background-color:rgb(231, 85, 36);
color:rgb(233, 192, 178);
&:hover{
    background-color: rgb(233, 192, 178);
    border-radius: 0rem;
    color:rgb(231, 85, 36);;
}
}


.mensaje{
background-color:rgba(32, 36, 32, 0.5);;
color:#FCFCFC;
text-align:center;
padding:1rem;
text-transform: uppercase;
margin-bottom:0px;
}
.total{
background-color:rgba(32, 36, 32, 0.815);;
color:#FCFCFC;
text-align:center;
padding:1rem;
text-transform: uppercase;
margin-top:0px;
}